{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>Python Thursday Blog</title>
    <link rel="stylesheet" href="{% static "css/blog.css" %}">
</head>
<body>
    <section class="row">
        <header class="large-12 columns">
            <h1>Welcome to the Python Thursday Blog</h1>
            <hr>

            <h2>We are currently under construction.</h2>
            <h2>Check back Soon!</h2>

            <p>This is the blog for members of the Python Thursday Group at <a href="http://www.codenewbie.org/">Code Newbie</a>.  If you are interested in learning Python, or just want to talk Python, find the details of how to join us over at <a href="http://www.codenewbie.org/">Code Newbie</a>.
            </p>
        </header>
    </section>
</body>
</html>
